* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #36454f;
  height: 100vh;
}

.nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.nav-items {
  margin-top: 8vh;
}

.nav {
  background-color: aqua;
}

.title {
  margin: 2%;
  color: rgb(4, 196, 196);
  font-size: 2rem;
}

.title-small {
  margin-bottom: 2%;
  color: lightgray;
  font-size: 1.5rem;
}

p {
  padding: 20px 25px;
  margin-bottom: 5%;
  justify-content: space-evenly;
  background-color: aqua;
  /* border-bottom: 1px solid black; */
  
}

.hikers-displayed{
  margin: 1%;
  width: 10vw;
  /* height: 40vh; */
  background-color: aqua;
  border: 1px solid black;
}

.add-hiker-btn {
  margin-top: 3%;
}

.btn {
  background-color: lightgray;
  color: #36454f;
  padding: 3px 10px;
  border-radius: 5px;
  box-shadow: 4px 5px 10px #42424256;
}

.delete-btn {
  margin-bottom: 10%;
}