* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #36454f;
  height: 200vh;
}

.nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.nav-items {
  margin-top: 5vh;
}

.nav {
  background-color: aqua;
}

ol {
  margin: 3%;
}

.title {
  margin: 2%;
  color: rgb(4, 196, 196);
  font-size: 2rem;
}

.title-small {
  margin-bottom: 2%;
  color: lightgray;
  font-size: 1.5rem;
}

p {
  padding: 15px 25px;
  margin-bottom: 1px;
  justify-content: space-evenly;
  background-color: aqua;
}

.hikers-displayed{
  margin: 1%;
  width: 10vw;
  background-color: aqua;
  border-radius: 5px 5px;
  box-shadow: 5px 5px 20px #000000;

}

.add-hiker-btn {
  margin-top: 3%;
}

.btn {
  background-color: lightgray;
  color: #36454f;
  padding: 3px 10px;
  border-radius: 5px;
  box-shadow: 4px 5px 10px #42424256;
}

.delete-btn {
  margin-bottom: 10%;
}

.hr {
  margin-bottom: 6%;
}